fastapi
uvicorn
requests
pydantic
python-multipart
diffusers==0.32.1
transformers==4.46.3
accelerate==1.1.1
huggingface_hub
xformers
sentencepiece
opencv-python
numpy<2.0.0
ffmpeg-python
controlnet_aux
insightface
onnxruntime-gpu
spandrel
omegaconf
safetensors
python-dotenv
