torch
torchvision
torchaudio
fastapi
uvicorn
requests
pydantic
python-multipart
diffusers==0.38.0
transformers<5.0.0
accelerate==1.1.1
huggingface_hub
xformers==0.0.29.post1
sentencepiece
opencv-python
numpy<2.0.0
ffmpeg-python
controlnet_aux
insightface
onnxruntime-gpu
spandrel
omegaconf
safetensors
python-dotenv
